<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
  <div class="container-fluid" bis_skin_checked="1">
    <a class="navbar-brand" href="/">AgroClima</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarColor01"
      aria-controls="navbarColor01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarColor01" bis_skin_checked="1">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link active" href="/"
            >Home
            <span class="visually-hidden">(current)</span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/usuarios">Publicaciones</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/cultivos">Cultivos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#" (click)="salir()">Salir</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
