<nav class="navbar">
  <div class="navbar-left">
    <div class="logo">🌱 AgroClima</div>
    <ul class="nav-links">
      <li class="nav-item">
        <a class="nav-link" href="/">Inicio</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/usuarios">Comentarios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/cultivos">Cultivos</a>
      </li>
    </ul>
  </div>

  <div class="navbar-right">
    <ng-container *ngIf="usuarioLogueado; else noLogin">
      <span class="usuario-nombre">👤 {{ usuarioLogueado.nombre }}</span>
      <button class="btn-salir" (click)="cerrarSesion()">Salir</button>
    </ng-container>

    <ng-template #noLogin>
      <li class="nav-item">
        <a class="nav-link" href="/login">Iniciar Sesion</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="/register">Register</a>
      </li>
      
    </ng-template>
  </div>
</nav>